/*****************************
	Testimonial
*****************************/
.testimonial{
	background-color: $primary;
}
.testimonial-item {
	position: relative;
	display: flex;
	align-items: center;
	padding: 60px 55px;
	.testimonial-avatar{
		flex:0 0 105px;
		width:105px;
		height:105px;
		border: 5px solid $white;
		border-radius: 100%;
	}

	.testimonial-content{
		flex:0 0 67%;
		font-size: 18px;
		line-height: 24px;
		font-style: italic;
		margin-left: 30px;
		margin-right: 50px;
		color:$white;
	}

	.testimonial-author{
		.testimonial-name{
			.testimonial-quote{
				font-size: 48px;
				line-height: 48px;
				color: rgba($secondary,0.3);
			}

			h6{
				color:$secondary;
		    font-size: 18px;
			}

			span{
				color:$white;
				font-weight: 700;
			}
		}
	}
}

.testimonial-item.text-center{
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;

  .testimonial-avatar{
    display: inline-block;
    flex: inherit;
    margin-bottom: 20px;
    box-shadow: $box-shadow;
  }

  .testimonial-content{
    flex: inherit;
    color: $gray-8;
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: 0;
  }

  .testimonial-author{
    .testimonial-name{
      span{
        color: $primary;
      }
    }
  }
}


@media (max-width:1350px) {

	.testimonial-item .testimonial-content{
		flex: 0 0 68%;
	}

}


@media (max-width:1199px) {

	.testimonial-item .testimonial-content{
		flex: 0 0 60%;
	}

}


@media (max-width:991px) {

	.testimonial-item .testimonial-content{
		flex: 0 0 56%;
	}

}


@media (max-width:767px) {

	.testimonial-item{
		display: block;
		text-align: center;
		padding: 50px 30px;
	}

	.testimonial-item .testimonial-avatar{
		margin: 0 auto;
		margin-bottom:20px;
	}

	.testimonial-item .testimonial-content{
		margin: 0 auto;
		margin-bottom: 20px;
	}
}


@media (max-width:575px) {

	.testimonial-item{
		padding: 60px 20px;
	}
	.testimonial-item .testimonial-content{
		margin: 0 auto;
	}

}